<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="SafeEntities" connectionString="metadata=res://*/EF.SAFE.Safe.csdl|res://*/EF.SAFE.Safe.ssdl|res://*/EF.SAFE.Safe.msl;provider=System.Data.SqlClient;provider connection string='data source=sql08-atc-01.gcr1.com;initial catalog=&quot;CS_BOSD -- Dev&quot;;persist security info=True;user id=&quot;AirportIQ Secure Credentialing -- SBO&quot;;password=fubar;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="CitationEntities" connectionString="metadata=res://*/EF.SAFE.Citations.csdl|res://*/EF.SAFE.Citations.ssdl|res://*/EF.SAFE.Citations.msl;provider=System.Data.SqlClient;provider connection string='data source=sql08-atc-01.gcr1.com;initial catalog=&quot;CS_BOSD -- Dev&quot;;persist security info=True;user id=&quot;AirportIQ Secure Credentialing -- SBO&quot;;password=fubar;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LookupEntities" connectionString="metadata=res://*/EF.LookUps.Lookups.csdl|res://*/EF.LookUps.Lookups.ssdl|res://*/EF.LookUps.Lookups.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.65.3;initial catalog=&quot;CS_BOSD -- Dev&quot;;persist security info=True;user id=&quot;AirportIQ Secure Credentialing -- SBO&quot;;password=fubar;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/EF.All.CS_BOSD.csdl|res://*/EF.All.CS_BOSD.ssdl|res://*/EF.All.CS_BOSD.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.228.13;initial catalog=&quot;CS_BOSD -- Dev&quot;;integrated security=True;persist security info=True;user id=gcr1\mvillaronga;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>