<?xml version="1.0"?>
<configuration>


	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	
	<appSettings>
		<add key="log4net.Internal.Debug" value="false" />
	</appSettings>

	<connectionStrings>
		<add name="demo" connectionString="Data Source=192.168.65.3;User ID=AirportIQ Secure Credentialing -- SBO;Password=fubar;Initial Catalog=CS_BOSD -- Test1;" providerName="System.Data.SqlClient"/>
		<add name="ApplicationServices" connectionString="Data Source=192.168.65.3;Initial Catalog=CS_BOSD -- Dev;Integrated Security=True;Persist Security Info=True;User ID=gcr1\mvillaronga" providerName="System.Data.SqlClient" />
		<add name="Merge" connectionString="Data Source=192.168.228.13;Initial Catalog=CS_BOSD -- Merge;Integrated Security=True;Persist Security Info=True;User ID=gcr1\mvillaronga" providerName="System.Data.SqlClient" />
		<add name="NewData" connectionString="Data Source=192.168.228.13;Initial Catalog=CS_BOSD -- MigrationTest -- NewData;Integrated Security=True;Persist Security Info=True;User ID=gcr1\mvillaronga" providerName="System.Data.SqlClient" />
		<add name="Dev" connectionString="Data Source=192.168.228.13;Initial Catalog=CS_BOSD -- Dev;Integrated Security=True;Persist Security Info=True;User ID=gcr1\mvillaronga" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="\TEMP\ISBLib.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
			</layout>
		</appender>
		<appender name="telnet" type="log4net.Appender.TelnetAppender">
			<port value="19923" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p [%t]: %m%n" />
			</layout>
		</appender>
		<root>
			<level value="All" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="telnet" />
		</root>

		<logger name="ISBLibExtGCR">
			<level value="All" />
		</logger>

	</log4net>

</configuration>
